
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        My very first view
        </br>
        Name: @ViewBag.name
        </br>
        Age: @ViewBag.age
        </br>
        Birthday: @ViewBag.birthday
        </br>
        Her person fra model: @Model.name
    </div>
</body>
</html>
