
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    RockBands:
</head>
<body>
    <div> 
            @foreach (string rc in ViewBag.Rockbands)
            {
                <li>@rc</li>
            }
        
    </div>
</body>
</html>
