
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeCalculatorResult</title>
</head>
<body>
    <div> 
        <h2>Resultatet af TimeCalculator</h2> 
        @ViewBag.hours Hours + @ViewBag.minutes Minutes +  @ViewBag.seconds Seconds = @ViewBag.total Seconds in total 
    </div>
</body>
</html>
